<?xml version="1.0" encoding="utf-8"?>
<plugin 
    id="vritra-plugin-webview" version="1.1.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>WebView</name>
    <js-module name="webview" src="www/index.js">
        <clobbers target="WebView"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebView">
                <param name="android-package" value="com.vritra.webview.WebView"/>
            </feature>
        </config-file>
        <config-file target="app/src/main/AndroidManifest.xml" parent="application">
            <activity 
                android:name="com.vritra.webview.WebViewActivity" 
                android:label="WebView"
                android:launchMode="standard"
                android:theme="@style/WebViewTheme"
            />
            <activity 
                android:name="com.vritra.webview.ModalActivity" 
                android:label="Modal"
                android:launchMode="standard"
                android:theme="@style/ModalTheme"
            />
        </config-file>
        <source-file src="src/android/WebView.java" target-dir="src/com/vritra/WebView"/>
        <source-file src="src/android/WebViewActivity.java" target-dir="src/com/vritra/WebView"/>
        <source-file src="src/android/ModalActivity.java" target-dir="src/com/vritra/WebView"/>
        <source-file src="src/android/Store.java" target-dir="src/com/vritra/WebView"/>
        <source-file src="src/android/Xml/WebViewTheme.xml" target-dir="res/values"/>
        <source-file src="src/android/Xml/ModalTheme.xml" target-dir="res/values"/>
        <source-file src="src/android/Xml/ShowAnimations/showanim_fade_in.xml" target-dir="res/animator"/>
        <source-file src="src/android/Xml/ShowAnimations/showanim_slide_up.xml" target-dir="res/animator"/>
        <source-file src="src/android/Xml/ShowAnimations/showanim_slide_left.xml" target-dir="res/animator"/>
        <source-file src="src/android/Xml/HideAnimations/hideanim_fade_out.xml" target-dir="res/animator"/>
        <source-file src="src/android/Xml/HideAnimations/hideanim_slide_down.xml" target-dir="res/animator"/>
        <source-file src="src/android/Xml/HideAnimations/hideanim_slide_right.xml" target-dir="res/animator"/>
        <source-file src="src/Assets/Audio/modal_shown.mp3" target-dir="res/raw"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WebView">
                <param name="ios-package" value="Webview" onload="false"/>
            </feature>
        </config-file>
        <source-file src="src/ios/Store.swift"/>
        <source-file src="src/ios/WebViewController.swift"/>
        <source-file src="src/ios/ModalController.swift"/>
        <source-file src="src/ios/Webview.swift"/>
        <source-file src="src/ios/Animations/HideAnimations.swift"/>
        <source-file src="src/ios/Animations/ShowAnimations.swift"/>
        <resource-file src="src/Assets/Audio/modal_shown.mp3"/>
    </platform>
    
    <platform name="browser">
        <js-module src="src/browser/WebView.js" name="WebView">
            <clobbers target="WebView"/>
        </js-module>
        <js-module src="src/browser/JsParser.js" name="WebViewJsParser">
            <runs/>
        </js-module>
    </platform>

    <dependency 
        id="vritra-plugin-common" 
        url="https://github.com/AhmedAyachi/vritra-plugin-common"
    />
</plugin>