<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="cordova-plugin-webview" 
    version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>WebView</name>
    <js-module name="webview" src="www/index.js">
        <clobbers target="WebView"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebView">
                <param name="android-package" value="com.ahmedayachi.webview.WebView" />
            </feature>
        </config-file>
        <config-file target="app/src/main/AndroidManifest.xml" parent="application">
            <activity 
                android:name="com.ahmedayachi.webview.WebViewActivity" 
                android:label="WebView"
                android:launchMode="standard"
                android:theme="@style/WebView"
            />
            <activity 
                android:name="com.ahmedayachi.webview.ModalActivity" 
                android:label="Modal"
                android:launchMode="standard"
                android:theme="@style/Modal"
            />
        </config-file>
        <source-file src="src/android/WebView.java" target-dir="src/com/ahmedayachi/webview/WebView"/>
        <source-file src="src/android/WebViewActivity.java" target-dir="src/com/ahmedayachi/webview/WebView"/>
        <source-file src="src/android/ModalActivity.java" target-dir="src/com/ahmedayachi/webview/WebView"/>
        <source-file src="src/android/Store.java" target-dir="src/com/ahmedayachi/webview/WebView"/>
        <source-file src="Xml/WebView.xml" target-dir="res/values"/>
        <source-file src="Xml/Modal.xml" target-dir="res/values"/>
        <source-file src="Xml/slide_up.xml" target-dir="res/animator"/>
        <source-file src="Xml/slide_down.xml" target-dir="res/animator"/>
        <source-file src="Xml/slide_left.xml" target-dir="res/animator"/>
        <source-file src="Xml/fade_out.xml" target-dir="res/animator"/>
    </platform>

    <platform name="browser">
        <js-module src="src/browser/WebView.js" name="browserwebview">
            <clobbers target="WebView"/>
        </js-module>
    </platform>
    
</plugin>